.sliders {
    display: flex;
}

.slider {
    margin: 10px;
}

.title {
    font-size: 30px;
    font-weight: lighter;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    letter-spacing: 5px;
    color: #00bfbd;
}

.generate-button {
    background-color: #00bfbd;
    height: 75px;
    width: 200px;
    border-radius: 20px;
    color: #005a58;
    border: 0px transparent;
    transition: 0.1s;
    font-size: 20px;
}

.generate-button:hover {
    transform: scale(1.1);
}

.recipe-container {
    font-weight: lighter;
    color: #005a58;
    display: inline-block;
    width: calc(280 * 3px);
    margin: 10px;
    background-color: transparent;
    border: 1px solid #005a58;
    border-radius: 5%;
}

.recipe-table {
    color: white;
}

.kcal {
    background-color: transparent;
    border: 0;
    color: #005a58;
    font-size: 30px;
    padding: 10px;
    width: 100px;
}

.next-previous-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.next,
.previous {
    background-color: transparent;
    border: 0;
    color: #005a58;
    font-size: 20px;
    padding: 10px;
    width: 200px;
}

.next:hover,
.previous:hover {
    color: #00bfbd;
}

.arrow {
    border: solid #005a58;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.recipe-container .recipe-title {
    text-decoration: none;
    color: #00bfbd;
    padding: 0.5em;
}

.macro-table {
    font-size: 20px;
    display: inline-block;
}

.macro-table th,
.macro-table {
    font-weight: lighter;
    padding: 10px;
}

.macro-table th {
    color: #00bfbd;
}

.ingredients-and-instructions-div {
    display: flex;
}

.ingredients-table {
    width: 70%;
    float: left;
}

.footer {
    height: 2rem;
}