.theme-switch {
    margin: 10px;
    right: 10px;
    float: right;
    height: 34px;
    position: absolute;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.theme-slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.theme-slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked+.theme-slider {
    background-color: #282c34;
}

input:checked+.theme-slider:before {
    transform: translateX(26px);
}

.theme-slider.round {
    border-radius: 34px;
}

.theme-slider.round:before {
    border-radius: 50%;
}