* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333333;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.left-banner {
    position: relative;
    color: #fff;
    top: 30%;
    right: 30px;
    width: 200px;
}